@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
    var breadcrumbs = ViewBag.Breadcrumbs as IEnumerable<BreadcrumbItem>;
}

<div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center my-4">
        <div>
            <h4 class="fw-bold mb-0">Transactions</h4>
            @Html.Partial("_Breadcrumbs", breadcrumbs)
        </div>
        <a asp-action="Create" class="btn btn-success d-flex align-items-center">
            <i class="fas fa-plus"></i>New Transaction 
        </a>
    </div>
    <div class="col-md-7">
        <ejs-grid id="Grid" dataSource="@Model" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Category.TitleWithIcon" headerText="Category"></e-grid-column>
                <e-grid-column field="Amount" template="#amountTemplate" headerText="Amount" format="c2"></e-grid-column>
                <e-grid-column field="Note" headerText="Note"></e-grid-column>
                <e-grid-column field="Date" headerText="Date" format="yMd" text-align="center"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionsTemplate" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36; border-radius: 10px;">
            <i class="fas fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

<script id="actionsTemplate" type="text/x-template">
    <div class="d-flex justify-content-center align-items-center">
        <a href="/Category/Edit/${CategoryId}" class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
        </a>
        <a href="/Category/Delete/${CategoryId}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
            </svg>
        </a>
    </div>
</script>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}

<script id="amountTemplate" type="text/x-template">
    ${Type === "Income" ? "+" : "-"}${Amount.toFixed(2)}
</script>

