html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #12161d;
  color: #fff;
}

e-bigger{
    font-size: x-large; 
}

/*Button Group Customazation*/

.e-btn-group.custom-rbt-group{
    width:50%;
}

.etn-group.custom-rbt-group .e-btn{
    width: 50%;
}

.custom-rbt-group label.e-btn{
    box-shadow: none !important;
    border: 1px solid #fff;
    backgroup-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:check + label.e-btn{
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

.breadcrumb a.breadcrumb-link {
    text-decoration: none;
    color: white;
}

    .breadcrumb a.breadcrumb-link:hover {
        color: lightgray; /* Optional: lighter color on hover */
    }

.breadcrumb .active {
    color: white;
}

/*Main-Content*/
.main-content{
    margin-left:290px;
}

/*Sidebar*/
#sidebar{
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
}
